header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(98, 184, 208);
    max-height: 100px;
    padding: 15px;
}


nav ul {
    display: flex; 
    list-style: none; 
    padding: 20px;
    margin: 20px;
    color: #555555;
}

nav ul li{
    margin: 20px;
    font-size: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

header h1 img{
    width: 200px;
}

nav ul li:hover{
    transform: scale(1.1);
}